/*
    Created On: 26/03/2020
    Author: Erick Cordeiro
    Company: EWD Marketing Digital e Desenvolvimento Web
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --green: #46ceac;
    --green_h: #35ba9b;
    --green_l: #61ddbc;

    --blue: #4fc0e8;
    --blue_h: #3aadd9;
    --blue_l: #66d4f1;

    --yellow: #fdcd56;
    --yellow_h: #f5b945;
    --yellow_l: #fbd277;

    --red: #eb5463;
    --red_h: #d94452;
    --red_l: #f76c82;

    --green_default: #009B3A;
    --gray: #e9e9e9;
}

/*img{*/
/*    display: block;*/
/*    max-width: 100%;*/
/*}*/

img a {
    border: none
}

embed,
video,
iframe,
iframe[style] {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

/**
 CONTAINERS
 */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.embed-container {
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.embed-container embed,
.embed-container video,
.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
    BOXSTYLES
 */
.radius {
    --radius: 4px;
    border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
}

.radius_50 {
    --radius: 50px;
    border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
}

.radius_60 {
    --radius: 50%;
    border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
}

.rounded {
    --radius: 50%;
    border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
}

.transition {
    --seconds: 0.2s;
    transition-duration: var(--seconds);
    -moz-transition-duration: var(--seconds);
    -webkit-transition-duration: var(--seconds);
    cursor: pointer;
}

/**
    BUTTONS
 */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #888888;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.btn_rounded {
    display: inline-block;
    padding: 10px 15px;
    background-color: #888888;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    color: #fff;
    text-decoration: none;
    background: #666;
}

.btn-small {
    font-size: 0.875em;
}

.btn-big {
    font-size: 1.275em;
}

.btn-green_default {
    background: var(--green_default);
    text-decoration: none;
}

.btn-green_default:hover {
    background: var(--green_default);
}

.btn-green {
    background: var(--green);
}

.btn-green:hover {
    background: var(--green_h);
}

.btn-green-out {
    color: var(--green);
    background: none;
    text-shadow: none;
    border: 1px solid var(--green);
}

.btn-green-out:hover {
    color: #ffffff;
    background: var(--green_h);
    text-shadow: none;
    border: 1px solid var(--green_h);
}

.btn-blue {
    background: var(--blue);
}

.btn-blue:hover {
    background: var(--blue_h);
}

.btn-blue-out {
    color: var(--blue);
    background: none;
    text-shadow: none;
    border: 1px solid var(--blue);
}

.btn-blue-out:hover {
    color: #ffffff;
    background: var(--blue_h);
    text-shadow: none;
    border: 1px solid var(--blue_h);
}

.btn-red {
    background: var(--red);
}

.btn-red:hover {
    background: var(--red_h);
}

.btn-red-out {
    color: var(--red);
    background: none;
    text-shadow: none;
    border: 1px solid var(--red);
}

.btn-red-out:hover {
    color: #ffffff;
    background: var(--red_h);
    text-shadow: none;
    border: 1px solid var(--red_h);
}


.btn-gray {
    background: var(--gray);
    color: #4e4e4e;
}

.btn-yellow {
    background: var(--yellow);
}

.btn-yellow:hover {
    background: var(--yellow_h);
}

.btn-yellow-out {
    color: var(--yellow);
    background: none;
    text-shadow: none;
    border: 1px solid var(--yellow);
}

.btn-yellow-out:hover {
    color: #ffffff;
    background: var(--yellow_h);
    text-shadow: none;
    border: 1px solid var(--yellow_h);
}

/*
    TRIGGER
 */
.trigger {
    color: #ffffff;
    font-size: 0.875em;
    background: #888;
    padding: 12px;
    border: 1px solid #666;
    margin-top: 15px;
}

.trigger-success {
    background: var(--green);
    border: 1px solid var(--green_h);
}

.trigger-success-out {
    background: none;
    border: 1px solid var(--green);
    color: var(--green);
    text-shadow: none;
}

.trigger-alert {
    color: #4e4e4e;
    background: var(--yellow);
    border: 1px solid var(--yellow_h);
}

.trigger-alert-out {
    background: none;
    border: 1px solid var(--yellow);
    color: var(--yellow);
    text-shadow: none;
}

.trigger-error {
    background: var(--red);
    border: 1px solid var(--red_h);
}

.trigger-error-out {
    background: none;
    border: 1px solid var(--red);
    color: var(--red);
    text-shadow: none;
}

.trigger-info {
    background: var(--blue);
    border: 1px solid var(--blue_h);
}

.trigger-info-out {
    background: none;
    border: 1px solid var(--blue);
    color: var(--blue);
    text-shadow: none;
}

/*
    FLEXBOX
 */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex .flex-1 {
    flex-basis: 100%;
    margin: 20px;
}

.flex .flex-2 {
    flex-basis: calc(50% - 40px);
    margin: 20px;
}

.flex .flex-3 {
    flex-basis: calc(33.33% - 40px);
    margin: 20px;
}

.flex .flex-4 {
    flex-basis: calc(25% - 40px);
    margin: 20px;
}

.flex .flex-5 {
    flex-basis: calc(20% - 20px);
    margin: 10px;
}

.flex .flex-9 {
    flex-basis: calc(75% - 40px);
    margin: 20px;
}

/*SLIDE*/
.j_slide {
    position: relative;
}

.j_slide_item {
    display: none;
}

.j_slide_item:first-child {
    display: block;
}

.j_slide_nav {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 10px;
    padding-right: 20px;
    width: 100%;
    text-align: right;
}

.j_slide_nav span {
    display: inline-block;
    background: rgba(255, 255, 255, 0.6);
    width: 12px;
    height: 12px;
    margin: 0 2.5px;
    cursor: pointer;
}

.j_slide_nav span:hover,
.j_slide_nav span.active {
    background: var(--themeColorA);
}

/*TABS*/
.j_tabs_nav.active {
    background: var(--themeColorA);
}

.j_tabs_item {
    display: none;
}

.j_tabs_item:first-child {
    display: block;
}


/*DEFAULT LOAD*/
.ajax_load {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #009B3A;
    z-index: 999999999999999999999999999999999999;
}
.sk-flow {
  width: calc(40px * 1.3);
  height: calc(40px * 1.3);
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 9999999999999999999999999999999999999;
  top:50%;
  right:50%;
}

.sk-flow-dot {

  width: 25%;
  height: 25%;
  background-color: white;
  border-radius: 50%;
  animation: sk-flow 1.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite both;
}

.sk-flow-dot:nth-child(1) { animation-delay: -0.30s; }
.sk-flow-dot:nth-child(2) { animation-delay: -0.15s; }

@keyframes sk-flow {
  0%, 80%, 100% {
    transform: scale(0.3); }
  40% {
    transform: scale(1); 
  }
}

/*.ajax_load_box {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}*/

/*.ajax_load_box_circle {*/
/*    border: 16px solid #e3e3e3;*/
/*    border-top: 16px solid var(--green);*/
/*    border-radius: 50%;*/
/*    margin: auto;*/
/*    width: 80px;*/
/*    height: 80px;*/

/*    -webkit-animation: spin 1.2s linear infinite;*/
/*    -o-animation: spin 1.2s linear infinite;*/
/*    animation: spin 1.2s linear infinite;*/
/*}*/

/*@-webkit-keyframes spin {*/
/*    0% {*/
/*        -webkit-transform: rotate(0deg);*/
/*    }*/
/*    100% {*/
/*        -webkit-transform: rotate(360deg);*/
/*    }*/
/*}*/

/*@keyframes spin {*/
/*    0% {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

/*.ajax_load_box_circle {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 0.875em;
    height: 0.875em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}*/

/*@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}*/

/*DEFAULT PAGINATOR*/
.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.paginator a, .paginator span {
    display: inline-block;
    padding: 8px 16px;
    border-right: 0;
    color: #555555;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.2s;
    background-color: #ebd819;
    margin: 0 2px;
}

.paginator a:hover {
    background: #b21822;
    background-size: 200%;
    color: #ffffff;
}

.paginator span {
    background: #b21822;
    color: #ffffff;
}